@tailwind base;
@tailwind components;
@tailwind utilities;

.react-colorful {
  width: auto !important;
  /* height: auto !important; */
}

.react-colorful__hue-pointer,
.react-colorful__alpha-pointer {
  width: 16px !important;
  border-radius: 3px !important;
}
